body {
    background-color: beige;
    background-color: #d2d2d2;
}

h1 {
    background-color: blueviolet;
    color: blue;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: navy;
    font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
}

p {
    font-family: Open Sans;
    background-color: white;
    color: black;
}

.second_article {
    background-color: aqua;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}